<div class="panel-heading"><h1><%=caption%> Car</h1></div>
<div class="panel-body">

    <form class="form-editcar" role="form">
        <h2 class="form-addcar-heading">Please supply car details</h2>

        <div class="row">

            <label for="editCarName">Name:</label>
            <input class="form-control" id="editCarName" name="name" value="<%=name%>" required autofocus/>
        </div>
        <div class="row">
            <input class="btn btn-lg btn-primary btn-block" id="editCarForm" type="button" value="<%=caption%>"/>
        </div>
    </form>
</div>